<section class="container">
    <header class="header d-flex">
        <div class="buscar-pensamentos">
            <input 
                type="search" 
                class="filtro"
                placeholder="O que você procura?"
                [(ngModel)]="filtro"
                (keyup)="buscarPensamentosPorTrecho()"
                autofocus>
            <img src="../../../../assets/imagens/search.png"   alt="">
        </div>
        <h2 class="ff-inter">{{titulo}}</h2>
        <div class="botoes">
            <button class="botao" (click)="recarregarComponente()">Meu Mural</button>
            <button class="botao" (click)="listarPensamentosFavoritos()">Meus Favoritos</button>
            <button routerLink="/criarPensamento" class="botao" >Novo Pensamento</button>
        </div>
    </header>
    <div class="mural" *ngIf="listaPensamentos.length > 0  ,else semPensamentos">
        <div *ngFor="let p of listaPensamentos">
            <app-pensamento 
            [pensamento]="p"
            [listaFavoritos]="listaFavoritosParent"
            ></app-pensamento>
        </div>
    </div>
</section>
<app-botao-carregar-mais 
    [haMaisPensamentos]="haMaisPensamentosParent"
    (click)="carregarMaisPensamentos()"
    ></app-botao-carregar-mais>

<ng-template #semPensamentos>
    <div class="ff-inter sem-pensamentos">
        <p>Ainda não há pensamentos cadastrados</p>
    </div>
</ng-template>